/* Pixel Engineering Co -- Custom CSS -- Handcrafted Code -- */
/* www.hottmansisters.com -- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* partial _mobile.scss */
/* <link href="/css/mobile.css" media="print" rel="stylesheet" type="text/css" /> */
@media (max-width: 600px) {
  .contact p {
    font-size: 1.6em;
    padding-top: .8em;
    padding-bottom: .5em; } }
/* custom colors
  $pink: #ec297b;
  $nav-a-gray: #303030;
  $navbar-bg: #757575;

  custom font (google)
  Crete Round
  */
/* GLOBAL RULES */
body {
  background-image: url("../img/patterns/seamless_paper.png");
  font-size: 20px;
  font-family: sans-serif;
  z-index: -200;
  overflow-x: hidden;
  /* fixes iPhone right margin */ }

.sect-bar {
  display: block;
  width: 50%;
  height: 0;
  margin: 0 auto;
  border-top: 2px solid #272727; }

/* back-to-top nav */
.back_to_top {
  background: none;
  margin: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 80px;
  height: 75px;
  z-index: 100;
  display: none;
  text-decoration: none; }

.back_to_top i {
  font-size: 60px;
  color: rgba(236, 41, 125, 0.49); }

.back_to_top i:hover {
  color: #ec297b; }

/* NAV SECT */
.nav-sect {
  display: block;
  width: 100%; }

.mblnav, #mblmenu {
  display: none; }

.fullnav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  position: relative;
  width: 100%;
  height: 60vw;
  font-family: "Crete Round", serif;
  font-size: 2.3em;
  background-image: url("../img/intro_bg3@1x.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 100; }

.index-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 60vw;
  background-image: url("../img/intro_bg3@1x.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 100; }

.chev-nav li {
  margin-right: 0em;
  margin-top: 3.5vw; }

.chev-nav a:hover {
  text-decoration: none;
  color: #ec297b; }

.fullnav a {
  color: #303030;
  text-decoration: none;
  transition: color .3s ease-in; }

.brand {
  z-index: 10; }

.brand img {
  width: 34vw; }

.logo-mbl {
  margin-top: .3em; }

.nav-list, .chev-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }

.nav-list li {
  padding-top: 2vw; }

.nav-list a {
  font-size: 5vw;
  padding-left: .15em;
  padding-right: .1em;
  padding-top: 1em; }

.nav-list a:hover {
  color: #ec297b;
  /* icons hover color */ }

.nav-social {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  z-index: 10; }

.nav-social a {
  margin-right: 1.5em;
  transition: color .3s ease-in; }

.nav-social a:hover {
  color: #ec297b; }

/* =============== */
/* INTRO SECT */
.sect-1 {
  padding: 0px; }

.intro img {
  display: block;
  width: 100%;
  position: relative;
  left: 0px; }

/* =============== */
/* ALL SECTION DIVS */
.sect-div {
  width: 100%;
  height: 1.5em;
  margin-top: .2em;
  line-height: 1em;
  font-family: "Crete Round", serif;
  font-size: 4em;
  text-transform: uppercase;
  text-align: center;
  color: #272727; }

.first-sect {
  margin-top: .5em; }

/*.sect-bar {
  content: "";
  display: inline-flex;
  position: relative;
  height: .4em;
  width: 3.1em;
  left: -3.3em;
  top: 0px;
  z-index: -5;
  background-color: #7D1A1A;
}*/
/* =============== */
/* MEDIA SECT */
.media-content {
  padding: 0px; }

.video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
  margin-bottom: 1em; }

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* =============== */
/* SHOWS SECT */
.shows-content {
  text-align: center; }

.shows-content h2 {
  font-family: "Crete Round", serif;
  font-size: 4vw;
  text-transform: uppercase;
  color: #ec297b; }

.upcoming tbody {
  font-size: 2.8vw; }

thead {
  text-align: left;
  font-size: 3.5vw; }

tbody {
  font-size: 1.9vw; }

.table-responsive {
  margin: 0 auto;
  width: 90%; }

.upcoming > tbody > td {
  color: red; }

.table th {
  /* table row heads */
  font-family: "Crete Round", serif;
  text-align: center; }

.table td {
  text-align: left;
  font-family: "Fjalla One", sans-serif; }

.table td:first-child > p {
  font-size: .8em;
  margin-bottom: 0; }

.table td p {
  margin-bottom: 0;
  /* takes out un-needed btm margin in table */ }

.table td span {
  /* target 'and' in stage column */ }

/* =============== */
/* MUSIC SECT */
.music-content {
  padding: 0px; }

/* =============== */
/* ABOUT SECT */
.about-content {
  padding: 0px; }

/* individual cards */
.card1 {
  background-image: url("../img/both_bottom.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.card {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2em;
  padding: 2em;
  font-family: "Fjalla One", sans-serif;
  background-color: rgba(39, 39, 39, 0.67);
  border-radius: .5em;
  color: #fff6da;
  text-shadow: 2px 2px #575757; }

.card a:hover {
  color: #ec297b; }

.card-center > h2 {
  text-align: center;
  margin-top: .5em;
  padding-bottom: .5em; }

.card-center > h5 {
  line-height: 1.4em;
  text-align: center;
  margin-bottom: 1.2em; }

.card h3 {
  font-size: 1.3em;
  color: #ec297b;
  margin-bottom: .7em; }

.card h4 {
  font-size: 1em;
  margin-bottom: .7em;
  line-height: 1.4em; }

.card p {
  font-size: .7em;
  margin-bottom: .6em;
  line-height: .8em; }

.card > h2 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: .7em;
  text-transform: uppercase; }

/* =============== */
/* FOOTER SECT */
footer {
  background-color: #757575;
  padding-top: 2em;
  padding-bottom: 1em;
  font-family: "Fjalla One", sans-serif; }

.logo {
  text-align: center; }

#logo img {
  display: inline-block;
  width: 200px; }

.social {
  padding-left: 2em; }

.social span {
  display: inline-block;
  margin-bottom: 1em; }

.soc-links {
  display: flex;
  justify-content: space-around; }

.social .fa {
  color: #FFFF50;
  transition: color .3s ease-in; }

.social .fa:hover {
  color: #303030; }

.contact {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-size: 1.2em;
  text-align: center;
  padding-bottom: .9em; }

.contact > h3 {
  color: #171717;
  text-decoration: underline;
  margin-top: .9em;
  margin-bottom: .4em; }

.contact .fa {
  color: #FFFF50;
  margin-right: .5em; }

.contact p {
  margin-bottom: 1.5em; }

.contact p > a {
  width: 2em;
  height: 1.5em;
  margin-top: .2em;
  padding: .5em;
  background-color: yellow;
  color: #272727; }

.legal {
  text-align: center;
  margin-top: 1em; }

.legal span {
  font-size: .8em; }

/* MEDIA QUERIES */
@media (max-width: 501px) {
  .mblnav {
    display: none; }

  .brand {
    display: none; }

  .nav-list {
    width: inherit;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around; } }
/*END @media <500px*/
@media (max-width: 920px) {
  .mblnav {
    display: none; }

  body {
    font-size: 20px; }

  .table-responsive {
    width: 100%; } }
/*END @media >700px*/
@media all and (min-width: 300px) and (max-width: 500px) {
  body {
    font-size: 16px; }

  .nav-social {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center; }

  .shows-content {
    padding: 0; }

  .contact > h3 {
    margin-top: 1.4em; }

  tbody {
    font-size: 2.3vw; }

  /*    .mblnav {
      display: block;
      width: 100%;
      text-align: center;
      font-family: $crete-font;
      }
  
      .mblnav li {
        width: 100%;
        height: 1.5em;
        background-color: dimgray;
        border-bottom: 1px solid gray;
      }*/
  .social {
    text-align: center; } }
/*END @media <700px*/

/*# sourceMappingURL=screen.css.map */
